@import "../../variables.scss";

.second_book_section {
  padding: 100px 0;

  .container {
    position: relative;

    .img_con {
      position: absolute;
      right: 0;
      top: 0;
      width: 350px;
      box-shadow: 0 0 5px black;
    }

    .txt_con {
      padding-right: 500px;
      padding-top: 90px;
      padding-bottom: 120px;

      .rating_section {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 20px 0;

        p {
          background: #f69c08;
          color: white;
          height: fit-content;
          text-transform: capitalize;
          font-size: 13px;
          padding: 5px;
        }

        .rating {
          display: flex;
          align-items: center;

          p {
            background: transparent;
            padding: 0;
            color: #f69c08;
            font-weight: 600;
            font-size: 15px;
          }

          .stars {
            display: flex;
            line-height: 0;
            color: #f69c08;
          }
        }
      }

      .bouns_section {
        h5 {
          background: $primary_color;
          width: fit-content;
          color: white;
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 500;
          padding: 10px 30px;
          margin-bottom: 20px;
        }
      }

      h2 {
        text-transform: capitalize;
      }
      .txt {
        padding: 20px 0;
        line-height: 22px;

        p {
          &:first-child {
            padding-bottom: 10px;
          }
        }
      }

      @media (max-width: 1024px) {
        padding-right: 400px;
      }
    }

    @media (max-width: 900px) {
      .img_con {
        position: relative;
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
      }

      .txt_con {
        padding: 0;

        .rating_section {
          justify-content: center;
        }

        .bouns_section {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
        }

        h2 {
          text-align: center;
        }

        .txt {
          padding: 20px 0 40px 0;

          p {
            text-align: center;
          }
        }
      }
    }
  }
}

.second_book_benefit_section {
  background: whitesmoke;
  padding: 100px 0;

  h2 {
    text-transform: capitalize;
    padding-bottom: 20px;
  }

  .main_wrapper {
    border: 1px solid rgb(189, 186, 186);
    padding: 20px;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative;
      height: 350px;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(
          to bottom,
          transparent,
          transparent,
          whitesmoke
        );
      }

      &.active {
        height: fit-content;
        overflow: visible;

        &::before {
          display: none;
        }
      }

      p {
        display: flex;
        gap: 10px;
        line-height: 25px;
        line-height: 25px;

        span {
          font-size: 16px;
          padding-top: 4px;
        }
      }
    }

    .btn_section {
      display: flex;
      align-items: center;
      justify-content: center;

      .btn {
        display: flex;
        align-items: center;
        gap: 10px;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        padding-top: 20px;

        span {
          line-height: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
