@import "../../variables.scss";

.about_book {
  margin-top: 150px;

  .container {
    display: flex;
    gap: 30px;

    .book_content_section {
      flex: 2;

      h2 {
        text-transform: capitalize;
        font-weight: 600;
        font-size: 20px;
      }

      .main_wrapper {
        border: 1px solid rgb(189, 186, 186);
        padding: 25px;
        margin-top: 20px;

        .wrapper {
          height: 350px;
          overflow: hidden;
          position: relative;

          &.active {
            height: fit-content;
            overflow: visible;

            &::before {
              display: none;
            }
          }

          &::before {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(
              to bottom,
              transparent,
              transparent,
              transparent,
              white
            );
          }

          .box {
            display: flex;
            gap: 6px;

            &:not(:first-child) {
              padding-top: 30px;
            }

            .icon {
              padding-top: 1px;
              font-size: 15px;
            }

            p {
              text-transform: capitalize;
              padding: 0;
            }
          }
        }

        .btn {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0;
          padding: 25px 0 0 0;
          font-weight: 600;
          text-transform: capitalize;
          font-size: 15px;
          cursor: pointer;
          background: transparent;
          color: $primary_color;

          span {
            padding: 5px;
          }
          .icon {
            margin-left: 5px;
          }
        }
      }
    }

    .book_benefit_section {
      flex: 1;
      h2 {
        text-transform: capitalize;
        font-weight: 600;
        font-size: 20px;
      }

      .wrapper {
        margin-top: 20px;
        border: 1px solid rgb(189, 186, 186);
        padding: 20px;

        .main_wrapper {
          height: 300px;
          overflow: hidden;
          position: relative;

          &.active {
            height: fit-content;

            &::before {
              display: none;
            }
          }

          &::before {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(
              to bottom,
              transparent,
              transparent,
              transparent,
              white
            );
          }

          p {
            display: flex;
            align-items: center;
            gap: 15px;
            text-transform: capitalize;

            &:not(:last-child) {
              padding-bottom: 20px;
            }

            span {
              line-height: 0;
              font-size: 15px;
            }
          }
        }

        .btn {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          padding-top: 10px;
          font-weight: 600;
          text-transform: capitalize;
          font-size: 15px;
          cursor: pointer;
        }
      }
    }

    @media (max-width: 1024px) {
      flex-direction: column-reverse;
      gap: 50px;
    }
  }

  @media (max-width: 1024px) {
    margin-top: 100px;
  }
}
