@import "../../variables.scss";

.home_section {
  padding-top: 100px;
  background: $primary_color;
  height: 100vh;

  .container {
    position: relative;

    .txt_con {
      width: 50%;
      padding-top: 200px;

      small {
        color: rgb(193, 191, 191);
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 500;
      }

      h1 {
        text-transform: uppercase;
        font-size: 35px;
        color: white;
        font-family: $second_font;
        white-space: nowrap;
        // font-weight: 600;
      }

      .briefing {
        color: rgb(193, 191, 191);
        padding: 20px 0;
      }

      .rating_section {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-bottom: 20px;

        p {
          background: white;
          padding: 5px 10px;
          text-transform: capitalize;
          font-weight: 600;
        }

        .rating {
          display: flex;
          align-items: center;
          gap: 2px;

          p {
            color: #f69c08;
            padding: 0;
            background: transparent;
          }

          .stars {
            display: flex;
            align-items: center;
            color: #f69c08;

            span {
              line-height: 0;
            }
          }
        }
      }
    }

    .img_con {
      position: absolute;
      right: 0;
      top: 40px;
      width: 400px;
      height: fit-content;
      overflow: hidden;
      box-shadow: -5px 5px 5px rgb(32, 32, 32);
      // box-shadow: -10px 10px 10px rgb(39, 38, 38);
    }

    @media (max-width: 1024px) {
      .txt_con {
        h1 {
          font-size: 25px;
        }
      }

      .img_con {
        width: 40%;
      }
    }

    @media (max-width: 900px) {
      .txt_con {
        padding-top: 150px;
      }
    }

    @media (max-width: 500px) {
      .img_con {
        width: 200px !important;
      }
    }
  }

  @media (max-width: 850px) {
    height: fit-content;
    padding-bottom: 70px;
    .container {
      display: flex;
      flex-direction: column-reverse;
      // gap: 30px;
      .img_con {
        position: relative;
        width: 300px;
        margin: 0 auto;
      }

      .txt_con {
        width: 100%;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        button {
          width: fit-content;
        }
      }
    }
  }
}
