@import "../../variables.scss";

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 20px 0;
  z-index: 100;
  box-shadow: 0 0 5px grey;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;

    .menu_btn {
      display: none;
    }

    .logo h1 {
      text-transform: uppercase;
      font-size: 20px;
      color: $primary_color;
      position: relative;
      font-family: $second_font;

      &::before {
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        background: green;
        border-radius: 50%;
        right: -8px;
        bottom: 5px;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 30px;

      a {
        text-transform: capitalize;
        font-weight: 500;
        color: $primary_color;
        position: relative;

        &::before {
          position: absolute;
          content: "";
          width: 0;
          height: 2px;
          background: $primary_color;
          border-radius: 10px;
          left: 50%;
          transform: translateX(-50%);
          bottom: -2px;
          transition: 0.4s ease;
        }

        &.active::before,
        &:hover::before {
          width: 5px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      .menu_btn {
        display: block;
        font-size: 20px;
        cursor: pointer;
      }

      .links {
        z-index: 1000 !important;
        position: fixed;
        right: -110%;
        top: 0;
        width: 300px;
        background: $primary_color;
        box-shadow: 0 0 5px black;
        flex-direction: column;
        align-items: unset;
        padding: 30px;
        height: 100vh;
        transition: 0.4s ease;

        .close {
          color: white;
          font-size: 20px;
          cursor: pointer;
        }

        a {
          width: fit-content;
          color: rgb(181, 178, 178);

          &::before {
            background: white;
          }

          &.active::before,
          &:hover::before {
            width: 5px;
          }
          &.active,
          &:hover {
            color: white;
          }
        }

        &.active {
          right: 0;
        }
      }
    }
  }
}
