@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "./variables.scss";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

// Reuseable styles

p {
  font-size: 15px;
  font-weight: 500;
  color: $primary_color_light;
}

.container {
  width: 80%;
  margin: 0 auto;

  @media (max-width: 500px) {
    width: 90%;
  }
}

h2,
h3 {
  font-family: $second_font;
}

h2 {
  font-size: 30px;

  @media (max-width: 1024px) {
    font-size: 25px;
  }

  @media (max-width: 500px) {
    font-size: 20px;
  }
}

body {
  width: 100%;
  height: fit-content;
  overflow-x: hidden;
  background: white;
  color: $primary_color;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding: 15px 30px;
  background: $green_color;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease;

  &:hover {
    background: $green_hover_color;
  }
}

img {
  width: 100%;
  height: 100%;
}

.overlay {
  display: none;

  @media (max-width: 768px) {
    display: block;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease;
    position: fixed;
    z-index: 110;
    background: black;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    &.active {
      opacity: 0.5;
      visibility: visible;
      pointer-events: all;
    }
  }
}

// ========== Nav section

// =============home section

// ============ About book section

// ================About author section

// ================Testimonial section

// ===============buy book section

// =============footer section
